# Ignore build output directories
bin/
obj/

# Ignore NuGet packages directory
packages/

# Ignore project artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore publish output
publish/

# Ignore user-specific files
*.user
*.suo
*.rsuser

# Ignore Rider and VSCode project files
.idea/
.vscode/
# Ignore Visual Studio folder
.vs/